version: "3.9"
services:
  graphdb:
    image: ontotext/graphdb:10.6.3
    container_name: graphdb
    ports:
      - "7200:7200"
    volumes:
      - ./graphdb-data:/opt/graphdb/home
    environment:
      - GRAPHDB_HOME=/opt/graphdb/home
